.p1{
    width: 40%;
   
    margin: 20px 10px;
    /* border: 2px solid rgb(243, 242, 242); */
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
  }
  a{
    text-decoration:none;
  }
 .heading{
    color: rgb(71, 230, 36);
    text-align: center;
    font-size: larger;
 }
 .acc{
    color: rgb(246, 123, 0);
    text-align: center;
    font-size: medium;
 }
